@font-face {
  font-family: 'Sampurasun';
  src: url('/public/font/Sampurasun.ttf') format('truetype');
}

@font-face {
  font-family: 'Cormorant';
  src: url('/public/font/Cormorant-Regular.ttf') format('truetype');
}

.App{
  margin-top: 80px;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}